# Virtual Environment
.venv/

# Cache
__pycache__/
*.egg-info

# Experiments
experiments/
results/

# Images
scripts/*.png

# Dataset
dataset/*.csv
dataset/abdominal_mri

# Logs
job_err/
job_out/
sbatch_scripts/logs
